<?xml version="1.0"?>
<launch>
  <param name="robot_description" textfile="$(find skripsi)/urdf/Robot.urdf" />

  <!-- GUI untuk mengontrol joint -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <!-- Node untuk robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Launch RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find skripsi)/rviz/display_robot.rviz" />

  <node pkg="skripsi" type="main.py" name="Main_Controller" output="screen" />
  <node pkg="skripsi" type="YoloDet.py" name="Cam_Yolo" output="screen" />

</launch>