<launch>

  <!-- Load robot description -->
  <param name="robot_description" textfile="$(find simple_4wd_robot)/urdf/robot.urdf"/>

  <!-- Publish TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- GUI to move joints -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz"/>

</launch>
